
.sbj-container {
    max-width: 1600px;
    min-width: 900px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

#sbj-cast-instance-main{
    margin: 16px 32px;
}

.sbj-cast-instance-device{
    padding: 0px 0px 16px 0px;
}

.sbj-cast-instance-device-select{
    outline: 0;
    width: 420px;
}

.sbj-cast-instance--header-row{
    padding: 0px 20px 0px 32px;
}

#sbj-cast-instance-title {
    padding: 0px 20px 0px 0px;
}

/*-----------------------------
 *
 *---------------------------*/

#sbj-video {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scale(-1, 1);
}
