html, body {
    height: 100%;
}

body {
    margin: 0px;
    border: 0px;
    padding: 0;
    width: 100%;
    font-family: "Roboto","Hiragino Kaku Gothic ProN","Meiryo", sans-serif;
}

#web-camera-view-main{
    margin: 16px 32px;
}

.web-camera-view-device{
    padding: 0px 0px 16px 0px;
}

.web-camera-view-device-select{
    outline: 0;
    width: 420px;
}

.web-camera-view--header-row{
    padding: 0px 20px 0px 32px;
}

#web-camera-view-title {
    padding: 0px 20px 0px 0px;
}

#web-camera-view-video {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scale(-1, 1);
}
